#container {
width: 500px;
min-height: 100vh;
background-color: #1b1b1b;
font-size: 0px;
padding: 20px;
}

.block {
display: inline-block;
width: 100px;
height: 100px;
background-color: #777777;
border: 3px solid #0b0b0b;
box-sizing: border-box;
}

.gap {
background-color: transparent;
border-color: transparent;
}

.orange {
background-color: #1eff00;
}

.purple {
background-color: #8b5cf6;
}

.red {
background-color: #ef4444;
}

body {
margin: 0;
background-color: #0f172a;
}
