.row {
    display: block;
    white-space: nowrap;
}

.post-it {
    background-color: #fff3a6;
    display: inline-block;
    width: 200px;
    height: 220px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 16px;
    padding: 16px;
    vertical-align: top;
    white-space: normal;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.post-it h3 {
    margin: 0px 0px 10px 0px;
    font-size: 16px;
}

.post-it p {
    margin: 0px 0px 10px 0px;
    font-size: 14px;
    line-height: 1.4;
}

.post-it ul,
.post-it ol {
    margin: 0px;
    padding-left: 18px;
    font-size: 14px;
}

.post-it img {
    display: block;
    margin: 10px auto 0px auto;
    max-width: 100%;
    height: auto;
}

.yellow {
    background-color: #fff566;
}

.pink {
    background-color: #ffd6e7;
}

.blue {
    background-color: #cfefff;
}

.green {
    background-color: #c9f7c9;
}

.orange {
    background-color: #ffd7a6;
}

.purple {
    background-color: #d9c9ff;
}
