#para-one {
    color: #3e2723;
    background-color: #ffccbc;
}

#para-two {
    color: #1b5e20;
    background-color: #dcedc8;
}

#para-three {
    color: #0d47a1;
    background-color: #e3f2fd;
}

#span-one {
    color: #ffffff;
    background-color: #8e24aa;
}

#span-two {
    color: #000000;
    background-color: #ffeb3b;
}

#span-three {
    color: #ffffff;
    background-color: #d32f2f;
}

#span-four {
    color: #000000;
    background-color: #80deea;
}

#span-five {
    color: #ffffff;
    background-color: #2e7d32;
}

#span-six {
    color: #ffffff;
    background-color: #ff00f2;
}
